@model MiniSiparisTakipUygulamasi.Models.Entities.Products

<h3>Product detay sayfası</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>ProductName</th>
			<th>ProductPrice</th>
			<th>ProductStock</th>
			<th>ProductCategoryId</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@Model.ProductId</td>
			<td>@Model.ProductName</td>
			<td>@Model.UnitPrice</td>
			<td>@Model.UnitsInStock</td>
			<td>@Model.CategoryId</td>

	</tbody>
</table>







